<div class="row bg-dark text-white-50 p-5">
    <div class="mt-3 col-12 col-lg-12">
        <div class="">
            <h6>SUBSCRIBE FOR A SINGLE PICTURE OF A HOTDOG</h6>
            <p>Get the latest picture of a hotdog by entering your email here.</p>
        </div>
        <div class="">
            <form class="form-inline" action="#" method="post">
                <input type="text" class="mr-1 form-control" placeholder="Email">
                <button type="submit" class="btn btn-primary">SUBSCRIBE</button>
            </form>
        </div>
    </div>
</div>

<div class="row bg-dark text-white-50">
    <div class="col-12 pl-5">
        <p>Path of Exile content and materials are the intellectual property of their respective owners.</p>
    </div>
</div>